@use '../1-utilities/variables' as v;
@use '../1-utilities/mixins' as m;

footer {
  margin-top: auto;
  background-color: v.$secondary;
  padding: 5.5em 0 0.625em;
  font-size: 1em;
  color: v.$color;
  text-align: center;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    max-width: initial;
  }
  .footer_about {
    border-left: 2px solid v.$highlight;
    border-top: 2px solid v.$highlight;
    margin-bottom: 2rem;
  }
  form {
    padding-right: 2px;
    button {
      font-size: 0.8rem;
      span {
        font-weight: bold;
        font-size: 1em;
      }
    }
    // Inner flags
    button span img,
    ul li img {
      height: 1.2em;
      width: 1.2em;
      margin-right: 2px;
    }
    .languages-wrap {
      position: relative;
      display: inline-block;
    }
    button.select-button {
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      color: v.$color;
      background-color: v.$primary;
      border: 2px solid v.$primary;
      min-width: 5.2rem;
      &.select-arrow-active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: v.$accent;
      }
    }
    ul.select-items {
      background-color: v.$tertiary;
      color: v.$accent;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      li {
        text-align: left;
        font-size: 0.8em;
        padding: 8px 14px;
        margin: 0 auto;
      }
    }
    button[type="submit"] {
      font-size: 0.85rem;
      margin-left: 1em;
      padding: 6px 6px 6px 12px;
      background-color: v.$background;
      color: v.$accent;
      border: 2px solid v.$highlight;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        // 20px svg size plus 6px padding on right and 6px margin on left
        left: calc(100% - 32px);
        background-color: rgba(0, 0, 0, 0.05);
      }
      svg {
        height: 20px;
        width: 20px;
        margin-left: 6px;
        vertical-align: middle;
        fill: v.$accent;
      }
    }
  }
  .footer_module {
    font-size: 0; // Reset whitespace
    margin-bottom: 2rem;
    margin-right: 1rem;
    text-align: left;
    a {
      display: block;
      padding: 4px;
      font-size: 0; // Reset whitespace
      height: 1.5rem;
      color: v.$color;
      position: relative;
      svg {
        stroke: v.$color;
        fill: v.$color;
        position: absolute;
        top: -1px;
        left: 4px;
      }
      span {
        font-size: 1rem;
        padding-left: 1.8rem;
        border-bottom: 2px solid v.$highlight;
        display: inline-block;
      }
      @include m.hover {
        color: v.$tertiary;
        svg {
          fill: v.$tertiary;
        }
        span {
          border-bottom: 2px solid;
          margin-bottom: -2px;
        }
      }
    }
  }
  small {
    font-size: 0.8em;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    a {
      color: v.$color;
      border-bottom: 2px solid v.$highlight;
      @include m.hover {
        color: v.$tertiary;
        border-color: v.$tertiary;
      }
    }
  }
}
