@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;
@use "sass:map";

footer.contact {
  padding: 6.5em 0 0.625em;
}

footer {
  margin-top: auto;
  background-color: map.get(v.$navy-palette, background);
  padding: 1.625em 0 0.625em;
  font-size: 1em;
  color: map.get(v.$navy-palette, text);
  text-align: center;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    max-width: initial;
  }
  .form {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem; //Same margin as the link module to align the buttons
    position: relative;
    top: -0.275rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    button {
      font-size: 0.9rem;
      span {
        font-weight: bold;
        font-size: 1em;
      }
    }
    // Inner flags
    button span img,
    ul li img {
      margin-right: 2px;
    }
    .same-as-selected {
      display: none;
    }
    .languages-wrap {
      position: relative;
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 3em;
    }
    button.select-button {
      margin-top: 8px;
      padding: 0.275rem 1.75rem 0.275rem 0.75rem;
      color: map.get(v.$navy-palette, text);
      border-radius: 0;
      border-right: 2px solid map.get(v.$navy-palette, highlight);
      border-bottom: 2px solid map.get(v.$navy-palette, highlight);
      min-width: 6rem;
    }
    button.select-button,
    button.select-button.select-arrow-active {
      background-size: 26px;
      background-color: initial;
      background-position-x: 97%;
    }
    ul.select-items {
      li {
        text-align: left;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 8px 0.75rem;
        margin: 0 auto;
        background-color: map.get(v.$navy-palette, background);
        border-right: 2px solid map.get(v.$navy-palette, highlight);
        border-bottom: 2px solid map.get(v.$navy-palette, highlight);
        @include m.hover {
          color: map.get(v.$navy-palette, action);
          border-bottom: 2px solid map.get(v.$navy-palette, action);
        }
      }
    }
    button.applyChanges {
      font-size: 0.85rem;
      margin-top: 10px;
      padding: 6px 6px 6px 12px;
      vertical-align: bottom;
      background-color: map.get(v.$navy-palette, diminished);
      color: map.get(v.$navy-palette, text);
      position: relative;
      overflow: hidden; // This needs to be on this button to prevent mozilla bug with block elements, overflow hidden causing layout shift
      &::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        // 20px svg size plus 6px padding on right and 6px margin on left
        left: calc(100% - 32px);
        background-color: rgba(0, 0, 0, 0.05);
        transition: left 750ms ease-in-out;
      }
      @include m.hover {
        &::before {
          left: 0;
        }
      }
      svg {
        height: 20px;
        width: 20px;
        margin-left: 6px;
        vertical-align: text-top;
        position: relative;
      }
    }
  }
  .footer_module {
    font-size: 0; // Reset whitespace
    margin-bottom: 5rem;
    margin-right: 1rem;
    text-align: left;
    a {
      display: block;
      padding: 4px;
      font-size: 0; // Reset whitespace
      height: 1.5rem;
      min-height: 40px;
      color: map.get(v.$navy-palette, text);
      position: relative;
      svg {
        fill: map.get(v.$navy-palette, text);
        position: absolute;
        top: 7px;
        left: 4px;
      }
      span {
        font-size: 1rem;
        padding-top: 8px;
        padding-left: 1.8rem;
        border-bottom: 2px solid map.get(v.$navy-palette, highlight);
        display: inline-block;
      }
      @include m.hover {
        color: map.get(v.$navy-palette, action);
        svg {
          fill: map.get(v.$navy-palette, action);
        }
        span {
          border-bottom: 2px solid;
          margin-bottom: -2px;
        }
      }
    }
  }
  small {
    font-size: 0.8em;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    max-width: 95%;
    margin: auto;
    line-height: 2em;
    a {
      color: map.get(v.$navy-palette, text);
      border-bottom: 2px solid map.get(v.$navy-palette, highlight);
      @include m.hover {
        color: map.get(v.$navy-palette, action);
        border-color: map.get(v.$navy-palette, action);
      }
    }
    img {
      height: 22px;
      margin-left: 3px;
      vertical-align: text-bottom;
    }
    .license {
      white-space: nowrap;
    }
  }
}
