@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;

header {
  background-color: v.$dark-background;
  color: v.$dark-color-2;
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  a.skip-link {
    background: v.$dark-background-2;
    color: v.$dark-color-2;
    font-weight: bold;
    left: 50%;
    padding: 6px 12px;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -100%);
    transition: transform 0.3s;
    span {
      vertical-align: text-top;
    }
    @include m.hover {
      z-index: 2;
      transform: translate(-50%, 4px);
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a.download {
      margin-top: 5px;
      font-size: 0.9em;
      padding: 16px 12px;
      color: v.$dark-color-2;
      span {
        padding: 5px 24px 5px 0px;
      }
      svg {
        vertical-align: top;
        position: relative;
        right: 24px;
        top: -2px;
        stroke: v.$dark-color-2;
      }
      @include m.hover {
        span {
          color: v.$dark-focus;
          border-bottom: 2px solid v.$dark-focus;
          margin-bottom: -2px;
        }
        svg {
          stroke: v.$dark-focus;
        }
      }
    }
    button.menu-toggle {
      display: none;
    }
    button.menu-toggle.visible {
      display: inline-block;
      background-color: initial;
      padding: 12px;
      margin-top: 5px;
      svg {
        vertical-align: bottom;
      }
    }
    ul.menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 0;
      right: -250px;
      background-color: v.$dark-background;
      border-radius: 0 0 0 8px;
      @include m.shadow;
      li {
        width: 100%;
        text-align: left;
        @include m.hover {
          background-color: v.$dark-background;
          span {
            color: v.$dark-focus;
            border-bottom: 2px solid;
          }
        }
      }
      span {
        border-bottom: 2px solid;
        margin-bottom: -2px; 
      }
      a {
        display: inline-block;
        color: v.$dark-color-2;
        padding: 12px 120px 12px 24px;
        height: 48px;
        line-height: 48px;
      }
    }
    ul.menu.visible {
      position: fixed;
      right: 0;
      z-index: 4;
      transition: all 450ms ease-in-out;
    }
    div.overlay {
      position: fixed;
    }
    div.overlay.visible {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 3;
      background-color: rgba(0,0,0,0.6)
    }
  }
  .logo {
    display: inline-block;
    position: relative;
    @include m.hover {
      .underlay {
        background-color: v.$dark-focus;
      }
    }
    .underlay {
      overflow: hidden;
      border-radius: 50%;
      height: 85%;
      width: 85%;
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 5px;
      background-color: v.$dark-background-2;
    }
    img {
      position: relative;
      z-index: 1;
    }
    .logo-border {
      position: absolute;
      bottom: 0;
      right: -4rem;
      left: -4rem;
      z-index: 1;
      border-bottom: 1px solid v.$dark-color-2;
    }
  }
  /* prettier-ignore */
  h1, h2 {
    font-weight: bold;
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 0 1.8rem;
    padding: 12px;
    background-color: v.$dark-background-2;
    border-radius: 5px;
    @include m.shadow;
  }
  .border {
    position: absolute;
    height: 3.6rem;
    bottom: 0;
    left: 0;
    right: 0;
    &::before {
      background-color: v.$white-background;
      z-index: 1;
      position: absolute;
      content: "";
      width: calc(100vw + 100rem);
      height: 7.2rem;
      top: 4px;
      left: -50rem;
      right: -50rem;
      border-top-left-radius: 100% 14.4rem;
      border-top-right-radius: 100% 14.4rem;
    }
  }
}
