@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;
@use "sass:map";

header {
  --bottom: 58px;
  --collapsedHeight: 0px;
  background-color: map.get(v.$navy-palette, background);
  color: map.get(v.$navy-palette, bold);
  text-align: center;
  position: relative;
  width: 100%;
  a.skip-link {
    background: map.get(v.$navy-palette, diminished);
    color: map.get(v.$navy-palette, bold);
    left: 50%;
    padding: 6px 12px;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -100%);
    transition: transform 0.3s;
    span {
      vertical-align: text-top;
    }
    @include m.hover {
      z-index: 2;
      transform: translate(-50%, 4px);
    }
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: visible;
    // Top bar
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a.home,
      a.download {
        margin-top: 5px;
        font-size: 0.9em;
        padding: 16px 12px;
        color: map.get(v.$navy-palette, bold);
        @include m.hover {
          span {
            color: map.get(v.$navy-palette, action);
            border-bottom: 2px solid map.get(v.$navy-palette, action);
            margin-bottom: -2px;
          }
        }
      }
      a.download {
        span {
          padding: 5px 24px 5px 0px;
        }
        svg {
          vertical-align: top;
          position: relative;
          right: 24px;
          top: -2px;
          stroke: map.get(v.$navy-palette, bold);
        }
        @include m.hover {
          svg {
            stroke: map.get(v.$navy-palette, action);
          }
        }
      }
      button.menu-toggle {
        display: none;
      }
      button.menu-toggle.visible {
        display: inline-block;
        background-color: initial;
        padding: 12px;
        margin-top: 5px;
        z-index: 6;
        svg {
          vertical-align: bottom;
          // ---------------------------------------------------
          // Close button recolor
          /* prettier-ignore */
          path.outer {fill: map.get(v.$navy-palette, bold);}
          /* prettier-ignore */
          path.inner {fill: map.get(v.$navy-palette, background);}
          // ---------------------------------------------------
          // Hamburger recolor
          /* prettier-ignore */
          g.right {fill: map.get(v.$lotion-palette, background);}
          /* prettier-ignore */
          path.left {fill: map.get(v.$navy-palette, bold);}
        }
        @include m.hover {
          svg .outer, svg g.right, svg path.left {
            fill: map.get(v.$navy-palette, action);
          }
        }
      }
    }
    // Menu
    ul.menu {
      display: none;
      opacity: 0;
      background-color: map.get(v.$lotion-palette, background);
      overflow: hidden;
      overflow-y: auto;
      height: calc(100vh - var(--bottom));
      // 605px - collapsedHeight
      max-height: calc(30rem - var(--collapsedHeight));
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 8px;
      &.visible {
        display: block;
        opacity: 1;
        z-index: 6;
      }
      button.category {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid map.get(v.$lotion-palette, diminished);
        border-top: 1px solid map.get(v.$lotion-palette, diminished);
        border-radius: 0;
        padding: 0;
        background-color: map.get(v.$lotion-palette, background);
        overflow: hidden;
        @include m.hover {
          background-color: map.get(v.$lotion-palette, diminished);
        }
        &.last {
          margin-bottom: 0;
        }
        span {
          display: inline-block;
          color: map.get(v.$lotion-palette, bold);
          padding: 8px 24px;
          line-height: 48px;
        }
        svg {
          padding: 17px;
          margin-right: 8px; // align to close button
          line-height: 48px;
          fill: map.get(v.$lotion-palette, bold);
          rotate: 90deg; //default to open
          transition: rotate 250ms ease-in-out;
          &.closed {
            rotate: 0deg;
          }
        }
      }
      ul.sub {
        width: 100%;
        text-align: left;
        display: block;
        &.closed {
          display: none;
        }
        li {
          color: map.get(v.$lotion-palette, text);
          a {
            box-sizing: border-box; 
            display: inline-block;
            padding: 12px 16px 12px 48px;
            color: inherit;
            width: 100%;
            white-space: nowrap;  
            line-height: 34px;
            &:focus-visible:after {
              position: fixed;
              top: 0;
              right: 0;
              bottom: unset;
              left: unset;
            }
            @include m.hover {
              color: map.get(v.$lotion-palette, highlight);
              background-color: map.get(v.$lotion-palette, diminished);
              svg {
                fill: map.get(v.$lotion-palette, highlight);
              }
              svg.no-fill {
                fill:  none;
                stroke: map.get(v.$lotion-palette, highlight);
              }
            }
          }
        }
        a.svg {
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            padding: 5px;
            margin-right: 8px;
            fill: map.get(v.$lotion-palette, bold);
          }
          svg.no-fill {
            fill: none;
            stroke: map.get(v.$lotion-palette, bold);
          }
        }
      }
    }
    div.overlay {
      position: fixed;
      transition: all 250ms ease-in-out;
      &.visible {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .logo {
    display: inline-block;
    position: relative;
    margin-top: var(--bottom);
    @include m.hover {
      .underlay {
        background-color: map.get(v.$navy-palette, action);
      }
    }
    .underlay {
      overflow: hidden;
      border-radius: 50%;
      height: 85%;
      width: 85%;
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 5px;
      background-color: map.get(v.$navy-palette, diminished);
    }
    img {
      position: relative;
      z-index: 1;
    }
    .logo-border {
      position: absolute;
      bottom: 0;
      right: -4rem;
      left: -4rem;
      z-index: 1;
      border-bottom: 1px solid map.get(v.$navy-palette, bold);
    }
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 0 1.8rem;
    padding: 12px;
    background-color: map.get(v.$navy-palette, diminished);
    border-radius: 5px;
    @include m.shadow;
  }
  .space {
    height: calc(var(--bottom) * 2);
  }
  .border {
    position: absolute;
    height: 3.6rem;
    bottom: 0;
    left: 0;
    right: 0;
    &::before {
      content: "";
      background-color: map.get(v.$lotion-palette, background);
      position: absolute;
      width: calc(100vw + 100rem);
      height: 7.2rem;
      top: 4px;
      left: -50rem;
      right: -50rem;
      border-top-left-radius: 100% 14.4rem;
      border-top-right-radius: 100% 14.4rem;
    }
  }
}
