@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;

// ------------------------------------------------------------------------
// Media queries for certificates page
// ------------------------------------------------------------------------
main .small.container {
  @media (min-width: v.$small){
    ul li.certificate {
      width: 33.33%;
    }
  }
  @media (min-width: v.$medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .certs {
      max-width: 75%;
    }
  }
}

// ------------------------------------------------------------------------
// Media queries for about me image
// ------------------------------------------------------------------------
main section.about {
  @media (min-width: 400px) {
    .swoosh {
      width: 100px;
      left: 8px;
      bottom: -20px;
    }
    img {
      height: 330px;
      left: -42px;
    }
  }
  @media (min-width: 540px) {
    .swoosh {
      width: 90px;
      left: 15px;
      bottom: -23px;
    }
    img {
      height: 300px;
      left: -28px;
    }
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 640px forward
// ------------------------------------------------------------------------
@media (min-width: v.$small) {
  :root {
    --carousel-size: 70vw;
  }
  .container {
    max-width: calc(#{v.$small} - 40px);
  }
  main {
    .columns {
      width: 600px;
      .border.one {
        width: 0;
        border-left: 1px solid;
      }
      .overlay.active button.arrow {
        width: 100px;
        height: 100px;
        /* prettier-ignore */
        &.next, &.prev {
          background-size: 150px;
          @include m.hover {
            background-size: 170px;
          }
        }
        &.disabled {
          @include m.hover {
            background-size: 150px;
          }
        }
      }
      .overlay button.close {
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-size: 30px;
        @include m.hover {
          background-size: 35px;
        }
      }
      .overlay .wrapper.active {
        width: calc(var(--carousel-size) * 22 / 17);
        height: var(--carousel-size);
      }
    }
    section.cert {
      order: 1;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
          width: 50%;
          img {
            margin-right: 20px;
          }
        }
      }
    }
    .border.two {
      order: 2;
    }
    section.languages {
      order: 3;
    }
    .border.one {
      order: 4;
    }
    section.skills {
      order: 5;
    }
    section.about .container {
      width: calc(#{v.$small} - 180px);
    }
    section.work .item .hidden {
      ul {
        width: 70%;
      }
      .pageSpeed {
        bottom: 40px;
      }
    }
    section.contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: -2.5em;
      padding: 12px 20px;
      h3 {
        width: 6.666em;
      }
      a {
        margin-left: calc(10em - (5.693125em + 26px));
        // 10em = size of left text div, 5.693125em = size of inner span, 26px = 12px padding + 1px border
      }
    }
  }
  footer {
    padding-top: 4.5em;
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 940px forward
// ------------------------------------------------------------------------
@media (min-width: v.$medium) {
  :root {
    --carousel-size: 55vw;
  }
  .container {
    max-width: calc(#{v.$medium} - 40px);
  }
  main {
    .columns {
      width: 900px;
      .border.two {
        width: 0;
        border-left: 1px solid;
      }
      .overlay {
        .wrapper.active {
          width: calc(var(--carousel-size) * 22 / 17);
          height: var(--carousel-size);
        }
        &.active button.arrow {
          position: relative;
          top: initial;
          transform: initial;
          &.prev {
            left: -4px;
            &.pressed {
              left: -2%;
            }
          }
          &.next {
            left: 4px;
            &.pressed {
              left: 2%;
            }
          }
        }
      }
    }
    /* prettier-ignore */
    section.languages, .border.one, section.skills, .border.two, section.cert {
      order: initial;
      width: 256px;
    }
    section.cert {
      ul {
        display: initial;
        li {
          width: 100%;
          img {
            margin-right: 0;
          }
        }
      }
    }
    section.about .container {
      width: calc(#{v.$medium} - 180px);
    }
    section.work .item {
      width: 48%;
      .hidden .pageSpeed {
        bottom: 30px;
      }
    }
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 1240px forward
// ------------------------------------------------------------------------
@media (min-width: v.$big) {
  :root {
    --carousel-size: 60vw;
  }
  main .columns {
    .overlay .wrapper.active {
      width: var(--carousel-size);
      height: calc(var(--carousel-size) * 17 / 22);
    }
  }
}
// ------------------------------------------------------------------------
// Rules for landscape mobile devices
// ------------------------------------------------------------------------
@media screen and (orientation: landscape) {
  main .columns .overlay.active button.arrow {
    position: relative;
    top: initial;
    transform: initial;
    &.prev {
      left: 0;
      &.pressed {
        left: -2%;
      }
    }
    &.next {
      left: 0;
      &.pressed {
        left: 2%;
      }
    }
  }
}