@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;
@use "sass:math" as math;
@use "sass:map";
// ------------------------------------------------------------------------
// Media queries for preview page
// ------------------------------------------------------------------------
main#projects {
  @media (min-width: v.$small){
    section.work {
      .item {
        width: 48%;
      }
    }
  }
}
// ------------------------------------------------------------------------
// Media queries for showcase page
// ------------------------------------------------------------------------
main#showcase {
  @media (min-width: v.$small){
    .split {
      --line: 30%;
      $right: calc(100% - #{var(--line)});
      &::before {
        left: var(--line);
      }
      section.middle {
        margin: var(--space) 0;
        width: initial;
      }
      button.top {
        transform: rotate(0) translate(0, 185px);
      }
      section.side {
        padding: 0;
        & > .right{
          margin-left: auto;
          width: $right;
          h2, p, a:not(:first-child) {
            margin-left: 2rem;
            width: calc(100% - 2rem);
          }
        }
        h1 {
          max-width: unset;
          width: var(--line);
          text-align: right;
          padding: 0;
          border: unset;
          &::after {
            content: "";
            border-bottom: 3px solid map.get(v.$lotion-palette, action);
            position: absolute;
            top: 50%;
            right: 0;
            width: 22px;
          }
          span {
            min-width: unset;
            margin-right: 2rem;
          }
        }
      }
    }
  }
  @media (min-width: v.$medium){
    .split {
      --line: 35%;
    }
  }
}
// ------------------------------------------------------------------------
// Media queries for about me image
// ------------------------------------------------------------------------
main section.about {
  @media (min-width: 400px) {
    .swoosh {
      width: 100px;
      left: 8px;
      bottom: -20px;
    }
    img {
      width: 185.5px; // Height 330px
      left: -42px;
    }
  }
  @media (min-width: 540px) {
    .swoosh {
      width: 100px;
      left: 15px;
      bottom: -23px;
    }
    img {
      width: 168.6px; // Height 300px
      left: -28px;
    }
  }
}
// ------------------------------------------------------------------------
// Rules for screens from 480px forward (largest mobile screen)
// ------------------------------------------------------------------------
@media (min-width: 480px){
  body header nav ul.menu {
    position: relative;
    width: 21.875rem;
    margin-left: auto;
    left: 16px; //align relative to close button
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 640px forward
// ------------------------------------------------------------------------
@media (min-width: v.$small) {
  :root {
    --width: 600px; // for carousel image
    --columns: clamp(600px, 95%, 680px);
  }
  .container {
    max-width: calc(#{v.$small} - 40px);
  }
  main {
    .container.columns {
      // Reset the margin to the default value
      margin-left: auto;
      margin-right: auto;
    }
    .normal.columns {
      width: var(--columns);
      .border.one {
        width: 0;
        border-left: 1px solid;
      }
    }
    section.languages, section.skills {
      box-sizing: border-box;
      width: calc(50% - 0.5px); // Half the border width
    }
    section.cert {
      order: 1;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
          width: 50%;
          img {
            margin-right: 20px;
          }
        }
      }
    }
    .border.two {
      order: 2;
    }
    section.languages {
      order: 3;
    }
    .border.one {
      order: 4;
    }
    section.skills {
      order: 5;
    }
    section.about .container {
      width: calc(#{v.$small} - 180px);
    }
    section.work .item .hidden {
      ul {
        width: 80%;
      }
      .pageSpeed {
        margin-bottom: 40px;
      }
    }
    section.contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: -2.5em;
      padding: 12px 20px;
      h3 {
        width: 6.666em;
      }
      a {
        margin-left: calc(10em - (5.693125em + 26px));
        // 10em = size of left text div, 5.693125em = size of inner span, 26px = 12px padding + 1px border
      }
    }
  }
  footer {
    .contact {
      padding-top: 4.5em;
    }
    .footer_module {
    margin-bottom: 3rem;
    }
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 940px forward
// ------------------------------------------------------------------------
@media (min-width: v.$medium) {
  :root {
    --width: 480px; // for carousel image
    // Total width of columns
    --columns: clamp(#{v.$medium} - 40px, 80%, #{v.$medium} + 60px);
  }
  .container {
    max-width: calc(#{v.$medium} - 40px);
  }
  main {
    .container.columns {
      .column {
        position: static;
        opacity: 1;
      }
      .overlay {
        position: absolute;
      }
    }
    .normal.columns {
      width: var(--columns);
      margin: v.$margin auto;
      .border.two {
        width: 0;
        border-left: 1px solid;
      }
      .overlay {
        .wrapper {
          margin-right: 2%;
        }
        .nav-description {
          position: static;
          width: 40%;
          //Height of wrapper
          height: calc(var(--width) * (17 / 22));
          margin-left: 2%;
          margin-top: 0;
          flex-direction: column;
        }
        nav.navigation {
          margin-bottom: 0;
          justify-content: space-between;
        }
        figcaption {
          top: initial;
          bottom: 2rem;
          left: 22px;
        }
      }
    }
    /* prettier-ignore */
    .border.one, .border.two {
      order: initial;
    }
    /* prettier-ignore */
    section.languages, section.skills, section.cert {
      order: initial;
      box-sizing: border-box;
      width: calc(33.3% - 2px);
    }
    section.cert {
      ul li {
        width: 100%;
        img {
          margin-right: 0;
        }
      }
    }
    section.about {
      --offset: 0px;
      --swoosh: 85px;
      $swoosh: var(--swoosh);
      // Required for top swoosh
      overflow: visible;
      // This margin makes sure the .columns section is centered
      margin-top: calc(v.$margin + 57px + ($swoosh / 2));
      .container {
        padding-top: $swoosh;
      }
      .top-swoosh {
        display: inline-block;
        position: absolute;
        top: calc(($swoosh * -1) + 1px);
        vertical-align: top; //Needed to remove whitespace below
        width: 100%;
        height: $swoosh;
        z-index: 1;
        path {
          fill: map.get(v.$navy-palette, background);
        }
      }
      img {
        padding-top: v.$margin;
      }
    }
    section.about .container {
      width: calc(#{v.$medium} - 180px);
    }
    section.work .item {
      width: 48.5%;
      .hidden .pageSpeed {
        margin-bottom: 30px;
      }
    }
  }
}
//------------------------------------------------------------------------
// Rules for landscape mobile devices
// ------------------------------------------------------------------------
// @media screen and (orientation: landscape) {
//   @media (min-width: v.$small) {
//     :root {
//       --carousel-size: 42vw;
//     }
//   }
//   main .columns .overlay.active button.arrow {
//     position: relative;
//     top: initial;
//     transform: initial;
//     &.prev {
//       left: 0;
//       &.pressed {
//         left: -2%;
//       }
//     }
//     &.next {
//       left: 0;
//       &.pressed {
//         left: 2%;
//       }
//     }
//   }
// }