@use "../1-utilities/variables" as v;
@use '../1-utilities/mixins' as m;
@use "sass:map";
:root {
  --width: clamp(300px, 100%, 600px);
}
.container.columns {
  // Styles resetting the 'columns' width and margin so that the 'container' class' styles apply properly on small screens
  width: initial;
  margin-left: 16px;
  margin-right: 16px;
  .column {
    position: absolute;
    opacity: 0;
  }
  & > .border {
    display: none;
  }
  .overlay {
    position: static;
  }
}
.columns .overlay {
  position: absolute;
  right: 9999px;
  background-color: map.get(v.$lotion-palette, diminished);
  width: 0;
  height: 0;
  text-align: center;
  h1 {
    font-size: 2rem;
    line-height: 42px;
    margin: 1.2rem 0;
  }
  .wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2rem;
    // Make link red when hovering the wrapper itself
    @include m.hover {
      & ~ div figcaption a {
        color: map.get(v.$lotion-palette, highlight);
      }
    }
  }
  .img-border {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: clamp(3px, 70vw * 0.0055, 6px);
    background-color: #2d2d2d;
  }
  img {
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    &.active {
      position: absolute;
      transition: left 1s ease-in-out;
      left: 0%;
      bottom: 0;
      &.after {
        left: 100%;
      }
      &:focus-visible {
        transition: none;
        left: unset;
        right: 4px;
        bottom: 3.5px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
      }
      &:focus-visible ~ .img-border {
        background-color: initial;
      }
    }
  }
  button.arrow {
    border: none;
    cursor: pointer;
    height: 0;
    width: 0;
    padding: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    svg {
      width: 50px;
      height: 50px;
      path.color-1 {fill: map.get(v.$lotion-palette, diminished);}
      path.color-2 {fill: map.get(v.$lotion-palette, background);}
      path.stroke {fill: map.get(v.$lotion-palette, bold);}
    }
    @include m.hover {
      svg {
        path.color-1 {fill: map.get(v.$lotion-palette, text);}
        path.color-2 {fill: map.get(v.$lotion-palette, bold);}
      }
    }
    &.disabled {
      opacity: 0.4;
      cursor: initial;
      @include m.hover {
        svg {
          path.color-1 {fill: map.get(v.$lotion-palette, diminished);}
          path.color-2 {fill: map.get(v.$lotion-palette, background);}
        }
      }
    }
  }
  .nav-description {
    display: none;
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    vertical-align: top;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
    text-justify: auto;
    color: map.get(v.$lotion-palette, text);
    // Description
    p {
      font-size: 0.9em;
      margin: 0;
    }
  }
  nav.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    color: map.get(v.$lotion-palette, bold);
    // numbers
    p {
      margin: 0 3rem;
      font-size: 1.3rem;
    }
  }
  figcaption {
    position: absolute;
    top: -3rem;
    left: 2px;
    font-size: 0.8rem;
    a {
      color: map.get(v.$lotion-palette, bold);
      border-bottom: 2px solid;
      margin-bottom: -2px;
      @include m.hover {
        color: map.get(v.$lotion-palette, highlight);
      }
    }
  }
  button.close {
    display: none;
    position: absolute;
    top: 16px;
    right: 12px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: unset;
    @include m.hover {
      svg {
        fill: map.get(v.$navy-palette, action);
      }
    }
  }
}
.columns .overlay.active {
  height: initial;
  width: initial;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 12px;
  .wrapper {
    width: var(--width);
    aspect-ratio: 22 / 17;
    background-color: map.get(v.$lotion-palette, background);
    @include m.bigShadow;
  }
  button.arrow {
    display: flex;
    height: 50px;
    width: 50px;
  }
  button.close {
    display: initial;
  }
  .nav-description {
    display: inline-flex;
  }
}