@use "../1-utilities/variables" as v;
@use '../1-utilities/mixins' as m;
@use "sass:map";
:root {
  --width: clamp(300px, 100%, 600px);
}
.container.columns {
  // Styles resetting the 'columns' width and margin so that the 'container' class' styles apply properly on small screens
  width: initial;
  margin-left: 16px;
  margin-right: 16px;
  .column {
    display: none;
  }
  .overlay {
    position: static;
  }
}
.columns .overlay {
  position: absolute;
  right: 9999px;
  background-color: map.get(v.$lotion-palette, diminished);
  width: 0;
  height: 0;
  text-align: center;
  h1 {
    font-size: 2rem;
    line-height: 42px;
    margin: 1.2rem 0;
  }
  .wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }
  .img-border {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: clamp(3px, 70vw * 0.0055, 6px);
    background-color: #2d2d2d;
  }
  img {
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    &.active {
      position: absolute;
      transition: left 1s ease-in-out;
      left: 0%;
      bottom: 0;
      &.after {
        left: 100%;
      }
      &:focus-visible {
        transition: none;
        left: unset;
        right: 4px;
        bottom: 3.5px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
      }
      &:focus-visible ~ .img-border {
        background-color: initial;
      }
    }
  }
  button.arrow {
    border: none;
    cursor: pointer;
    height: 0;
    width: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    svg {
      width: 50px; 
      height: 50px;
    }
    &.prev {
      left: 10%;
      transition: left 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
      &.pressed {
        transition: left 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
        left: 8%;
      }
    }
    &.next {
      left: 90%;
      transition: left 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
      &.pressed {
        transition: left 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
        left: 92%;
      }
    }
    @include m.hover {
      // background-size: 120px;
    }
    &.disabled {
      @include m.hover {
        // background-size: 100px;
      }
    }
    &.disabled {
      opacity: 0.4;
      cursor: initial;
    }
  }
  .nav-description {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    width: 100%;
    height: 30%;
    margin-top: 4%;
    p {
      margin: 0;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 1.3rem;
    }
  }
  button.close {
    display: none;
    position: absolute;
    top: 16px;
    right: 12px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: unset;
    @include m.hover {
      svg {
        fill: map.get(v.$navy-palette, action);
      }
    }
  }
}
.columns .overlay.active {
  height: initial;
  width: initial;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 12px;
  .wrapper {
    width: var(--width);
    height: calc(var(--width) * 17 / 22);
    @include m.bigShadow;
  }
  button.arrow {
    display: flex;
    height: 100px;
    width: 100px;
  }
  button.close {
    display: initial;
  }
}