@use '../1-utilities/variables' as v;

form {
  font-size: 0; // Get rid of whitespace
  > * {
    font-size: 1rem; //Reset font-size for all child elements
  }
  position: relative;
  border-radius: 12px;
  padding: 12px;
  margin: 0 auto;
  // Prevent chrome's white box-shadow from overriding the set color
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px v.$highlight inset !important;
  }
  /* prettier-ignore */
  input, textarea {
    border: 0;
    border-radius: 7px;
    margin-bottom: 10px;
  }
  textarea {
    resize: vertical;
  }
  button.select-button {
    user-select: none;
    text-align: left;
    margin: 0;
    background: url("../images/caret-down.svg") right bottom/2em no-repeat
      v.$labels;
    &.select-arrow-active {
      border-bottom-left-radius: 0;
      background: url("../images/caret-up.svg") right top/2em no-repeat
      v.$labels;
    }
  }
  ul.select-items {
    user-select: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    li {
      position: relative;
    }
    li:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  ul li:hover,
  .same-as-selected {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .select-hide {
    display: none;
  }
}
