@use "../../1-utilities/variables" as v;

section.about {
  background-color: v.$dark-background;
  color: v.$dark-color;
  overflow: hidden;
  // Top offset
  padding-top: 52px;
  position: relative;
  top: -52px; //This -32 is the margin between columns and about me
  margin-bottom: -52px;
  z-index: -1;
  // End of offset
  img {
    position: absolute;
    left: -90px;
    top: -10px;
    height: initial; // 425px
    width: 238.8px;
  }
  h3 {
    font-weight: bold;
    font-size: 1.5em;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  .container {
    position: relative;
    padding: 0 0 2em 142px;
    min-width: 0;
    width: calc(100% - 152px);
  }
  .swoosh {
    vertical-align: top; //Needed to remove whitespace below
    position: absolute;
    bottom: -24px;
    left: -6px;
    width: 110px;
    path {
      fill: v.$dark-background;
      stroke: v.$dark-background;
    }
  }
}
