@use "../../1-utilities/variables" as v;
@use "sass:map";


section.about {
  --offset: -120px;
  background-color: map.get(v.$navy-palette, background);
  color: map.get(v.$navy-palette, text);
  overflow: hidden;
  // Top offset
  position: relative;
  top: calc(var(--offset) + 1px); // 1px to prevent safari rendering errors 
  margin-bottom: var(--offset);
  // End of offset
  img {
    position: absolute;
    left: -90px;
    top: -10px;
    height: initial; // 425px
    width: 238.8px;
  }
  h1 {
    color: map.get(v.$navy-palette, bold);
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  .container {
    position: relative;
    padding: 0 0 2em 142px;
    min-width: 0;
    width: calc(100% - 152px);
    margin-top: calc(v.$margin - var(--offset));
  }
  .top-swoosh {
    display: none;
  }
  .swoosh {
    vertical-align: top; //Needed to remove whitespace below
    position: absolute;
    bottom: -24px;
    left: -6px;
    width: 110px;
    path {
      fill: map.get(v.$navy-palette, background);
      stroke: map.get(v.$navy-palette, background);
    }
  }
}
