@use '../../1-utilities/variables' as v;
@use '../../1-utilities/mixins' as m;
@use "sass:map";

.columns {
  @include m.shadow;
  margin: calc(v.$margin / 2) auto 0;
  width: 300px;
  border-radius: 12px;
  position: relative;
  z-index: 4; // Needs to be bigger than the header nav and h2
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: map.get(v.$lotion-palette, diminished);
  color: map.get(v.$lotion-palette, bold);
  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
    font-size: 1.7rem;
  }
  .border {
    width: 100%;
    border-bottom: 1px solid;
  }
}
.column {
  display: flex;
  flex-direction: column;
  width: 256px;
  padding: 12px;
  ul.animation li {
    animation: down-from-top 1.5s both;
    animation-delay: calc(var(--order) * 400ms);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0 0;
    li {
      width: 50%;
      display: inline-block;
      text-align: center;
      padding: 0.5em 0;
      line-height: 18.4px;
      opacity: 0;
      img {
        width: 100%;
      }
      span {
        color: map.get(v.$lotion-palette, text);
        font-size: 0.9em;
      }
    }
  }
  @keyframes down-from-top {
    0% {
      transform: translateY(-200px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    33% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
section.cert {
  width: 100%;
  ul {
    display: block;
    li {
      display: flex;
      width: 100%;
      align-items: center;
      cursor: pointer;
      img {
        display: inline-block;
        margin-left: auto;
        height: 22px;
        width: 22px;
      }
      span {
        font-size: 1em;
        border-bottom: 2px solid;
        margin-bottom: -2px;
      }
      @include m.hover {
        span {
          color: map.get(v.$lotion-palette, highlight);
        }
      }
    }
  }
}
/* prettier-ignore */
section.languages, section.skills {
  ul li {
    padding: 0.5em 0 0;
    height: calc(2.4rem + 48px); // 48px is the height of the image
  }
}
