:root {
  // Primary
  --independence: #565264;
  --old-lavender: #706677;
  --silver-pink: #ccb7ae;
  // Backgrounds
  --timberwolf: #d6cfcb;
  --dracula-grey: #44475a;
  --english-lavender: #a6808c;
  // Whites
  --alabaster: #f1f0ea;
  --isabelline: #f6f0ed;
  --opal: #a0b9bf;
  // Dracula
  --pink: #ff79c6;
  --purple: #bd93f9;
  --blue: #8be9fd;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
}

$primary: var(--independence);
$secondary: var(--old-lavender);
$tertiary: var(--silver-pink);

$background: var(--timberwolf);
$accent: var(--dracula-grey);
$highlight: var(--english-lavender);

$columns: var(--alabaster);
$color: var(--isabelline);

$small: 40rem; // 640px
$medium: 58.75rem; // 940px
$big: 77.5rem; // 1240px
$biggest: 125rem; // 2000px
