:root {
  // Endeavor palette
  --endeavor: #08243b;
  --nevada: #5e6f7c;
  --twine: #c79360;
  --coffee: #756151;
  --ruby: #a20021;
  // Whites
  --iron: #d4d4d6;
  --isabelline: #f6f0ed;
  --silver: #f1f0ea;
  // random colors
  --green: #4e8356;
}
// Dark Mode
$dark-background: var(--endeavor); //Blue
$dark-background-2: var(--nevada); //Grey
$dark-color: var(--iron); //Grey-White
$dark-color-2: var(--isabelline); //White
$dark-focus: var(--twine); //Orange
$dark-outline: var(--coffee); //Brown
// White Mode
$white-background: var(--iron); //Grey-White
$white-background-2: var(--silver); //Silver
$white-color: black;
$white-color-2: var(--endeavor);
$white-outline: var(--ruby); //Red

$progress-bar: var(--green); //Green
$inputs: $dark-background;

$small: 40rem; // 640px
$medium: 58.75rem; // 940px
$big: 77.5rem; // 1240px
$biggest: 125rem; // 2000px
