@use "sass:map";

:root {
  // https://colorpalettes.colorion.co/
  // 32nd color pallette
  --maastrichtBlue: #08243B;
  --lightGrey: #D4D4D6;
  --softBlue: #A1ACBD;
  --brownYellow: #C79360;
  --darkElectricBlue: #5E6F7C;
  --boyRed: #756151;
  // 31st Color Palette
  --lotion: #FAFAFA;
  --japaneseIndigo: #23434F;
  --policeBlue: #3C5667;
  --slateGrey: #6D7C8B;
  --platinum: #DFE4E5;
  --fireOpal: #EE5555;
  // other
  --margin: 100px;
}

$navy-palette: (
  background: var(--maastrichtBlue),
  bold: var(--lightGrey),
  text: var(--softBlue),
  action: var(--brownYellow),
  diminished: var(--darkElectricBlue),
  highlight: var(--boyRed)
);

$lotion-palette: (
  background: var(--lotion),
  bold: var(--japaneseIndigo),
  text: var(--policeBlue),
  action: var(--slateGrey),
  diminished: var(--platinum),
  highlight: var(--fireOpal)
);

$inputs: map.get($navy-palette, background);
$margin: var(--margin);

$small: 40rem; // 640px
$medium: 58.75rem; // 940px
$big: 77.5rem; // 1240px
$biggest: 125rem; // 2000px

