@use '../1-utilities/variables' as v;
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-regular.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-regular.woff") format("woff"),
    url("../fonts/open_sans/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-bold.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-bold.woff") format("woff"),
    url("../fonts/open_sans/opensans-bold.ttf") format("truetype");
  font-weight: bold;
  font-display: fallback;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-light.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-light.woff") format("woff"),
    url("../fonts/open_sans/opensans-light.ttf") format("truetype");
  font-weight: lighter;
  font-display: fallback;
}
@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("../fonts/yanone_kaffeesatz/yanonekaffeesatz-bold.woff2")
      format("woff2"),
    url("../fonts/yanone_kaffeesatz/yanonekaffeesatz-bold.woff")
      format("woff"),
    url("../fonts/yanone_kaffeesatz/yanonekaffeesatz-bold.ttf")
      format("truetype");
  font-weight: bold;
  font-display: fallback;
}
html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
p {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Yanone Kaffeesatz", cursive;
  font-weight: bold;
}
img:focus-visible {
  margin: -2px;
  padding: 2px;
  outline: 5px auto v.$highlight;
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
a:focus-visible,
button:focus-visible,
div:focus-visible,
section:focus-visible,
li:focus-visible {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    outline: 5px auto v.$highlight;
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }
}
