@use 'variables' as v;

body {
  justify-content: space-between;
}
main {
  form {
    font-size: 0; // Get rid of whitespace
    > * {
      font-size: 1rem; //Reset fontsize for all child elements
    }
    background-color: v.$accent;
    color: white;
    border-radius: 12px;
    padding: 12px;
    margin: 0 auto;
    max-width: clamp(270px, 80%, 600px);
    // Prevent chrome's white boxshadow from overriding the set color
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--yellow) inset !important;
    }
    h1 {
      text-align: center;
      font-size: 1.2rem;
      margin: 0 0 20px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    .inline {
      display: inline-block;
      width: 49%;
      select {
        font-size: 0.9em;
        padding: 6px;
        min-width: 50%;
        background-color: v.$color;
        border: 0;
        border-radius: 7px;
        margin-bottom: 10px;
      }
      &.two {
        margin-left: 2%;
      }
    }
    .medium-inline {
      @media (min-width: 540px) {
        display: inline-block;
        width: 49%;
        &.two {
          margin-left: 2%;
        }
      }
    }
    input {
      width: 96%;
      padding: 2%;
      border: 0;
      border-radius: 7px;
      margin-bottom: 10px;
      background-color: v.$color;
    }
    textarea {
      width: 96%;
      padding: 2%;
      border: 0;
      border-radius: 7px;
      resize: vertical;
      margin-bottom: 10px;
      background-color: v.$color;
    }
    button {
      border: 1px solid v.$highlight;
      background-color: initial;
      color: v.$color;
      cursor: pointer;
      border-radius: 7px;
      padding: 12px;
      margin: 0 auto;
      display: block;
    }
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}
footer {
  margin-top: 0;
}
