@use 'variables' as v;
$labels: v.$secondary;
$inline-color: v.$color;
$line-height: 1.375rem;

main {
  form {
    font-size: 0; // Get rid of whitespace
    > * {
      font-size: 1rem; //Reset font-size for all child elements
    }
    // background-color: v.$columns;
    color: black;
    border-radius: 12px;
    padding: 12px;
    margin: 0 auto;
    max-width: clamp(270px, 80%, 600px);
    // Prevent chrome's white box-shadow from overriding the set color
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      box-shadow: 0 0 0 30px v.$highlight inset !important;
    }
    h1 {
      text-align: center;
      font-size: 2rem;
      margin: 0 0 1em;
      color: v.$accent;
      span {
        padding-bottom: 0.3em;
        border-bottom: 2px solid;
      }
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    .inline {
      position: relative;
      display: inline-block;
      width: 49%;
      margin-bottom: 10px;
      cursor: pointer;
      &.two {
        margin-left: 2%;
      }
      select {
        display: none;
      }
      button.select-button {
        user-select: none;
        text-align: left;
        font-size: 0.9em;
        line-height: $line-height;
        margin: 0;
        padding: 2%;
        width: 100%;
        color: $inline-color;
        border: 0;
        border-radius: 7px;
        background: url("../images/caret-down.svg") right bottom/2em no-repeat $labels;
        span {
          font-size: 1em;
          display: inline-block;
        }
        &.select-arrow-active {
          border-bottom-left-radius: 0;
          background: url("../images/caret-up.svg") right top/2em no-repeat $labels;
        }
      }
      ul {
        user-select: none;
        background-color: v.$tertiary;
        color: v.$accent;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        min-width: 8rem;
        width: 50%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        li {
          padding: 8px;
          padding-right: 0;
          min-height: $line-height;
          border-bottom: 1px solid darken(#706677, 5%);
          //v.$secondary
        }
        @media (min-width: 410px) {
          min-width: 10rem;
          li {
            padding-left: 16px;
          }
        }
      }
      ul li:hover, .same-as-selected {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }
      .select-hide {
        display: none;
      }
    }
    .medium-inline {
      @media (min-width: 540px) {
        display: inline-block;
        width: 49%;
        &.two {
          margin-left: 2%;
        }
      }
    }
    input {
      width: 96%;
      padding: 2%;
      border: 0;
      border-radius: 7px;
      margin-bottom: 10px;
      line-height: $line-height;
      background-color: $labels;
      color: $inline-color;
    }
    textarea {
      width: 96%;
      padding: 2%;
      border: 0;
      border-radius: 7px;
      resize: vertical;
      margin-bottom: 10px;
      line-height: $line-height;
      background-color: $labels;
      color: $inline-color;
    }
    button {
      border: 2px solid v.$highlight;
      background-color: v.$tertiary;
      color: black;
      cursor: pointer;
      border-radius: 7px;
      width: 100%;
      padding: 12px 22px;
      margin: 0 auto;
      display: block;
      &:hover {
        border: 2px solid v.$tertiary;
        background-color: v.$accent;
        color: v.$tertiary;
      }
      &:focus-visible {
        border: 2px solid v.$tertiary;
        background-color: v.$accent;
        color: v.$tertiary;
      }
    }
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}
@media (any-hover: hover) and (pointer: fine) {
  main form button {
    &:focus-visible {
      border: 2px solid v.$tertiary;
      background-color: v.$accent;
      color: v.$tertiary;
    }
    &:hover {
      border: 2px solid v.$tertiary;
      background-color: v.$accent;
      color: v.$tertiary;
    }
  }
}