@use 'variables' as v;

footer {
  margin-top: auto;
  background-color: v.$secondary;
  padding: 5em 0 0.625em;
  font-size: 1em;
  color: v.$color;
  text-align: center;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    max-width: initial;
  }
  .footer_about {
    border-left: 2px solid v.$highlight;
    border-top: 2px solid v.$highlight;
    img {
      float: left;
    }
  }
  .footer_module {
    font-size: 0; // Reset whitespace
    margin-bottom: 1.5rem;
    text-align: left;
    p {
      font-size: 1rem;
      margin: 0;
      margin-bottom: 5px;
    }
    a {
      display: block;
      padding: 4px;
      margin-left: 10px;
      font-size: 0; // Reset whitespace
      height: 1.5rem;
      color: v.$color;
      position: relative;
      svg {
        stroke: v.$color;
        fill: v.$color;
        position: absolute;
        top: -1px;
        left: 4px;
      }
      span {
        font-size: 1rem;
        padding-left: 1.8rem;
        border-bottom: 2px solid v.$highlight;
        display: inline-block;
      }
      &:hover {
        color: v.$tertiary;
        svg {
          fill: v.$tertiary;
        }
        span {
          border-bottom: 2px solid;
          margin-bottom: -2px;
        }
      }
      &:focus-visible {
        color: v.$tertiary;
        svg {
          fill: v.$tertiary;
        }
        span {
          border-bottom: 2px solid;
          margin-bottom: -2px;
        }
      }
    }
  }
  small {
    font-size: 0.8em;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    a {
      color: v.$color;
      border-bottom: 2px solid v.$highlight;
    }
  }
}
