@use 'variables' as v;

header {
  background-color: v.$primary;
  background-image: linear-gradient(180deg, v.$secondary -50%, v.$primary);
  color: v.$color;
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  nav {
    text-align: end;
    ul li {
      margin-top: 5px;
      display: inline-block;
      font-size: 0.9em;
      padding: 5px;
      &:not(:last-child) {
        border-right: 1px solid v.$columns;
      }
      a {
        padding: 5px;
        color: v.$color;
        svg {
          vertical-align: top;
          position: relative;
          right: -2px;
          top: -2px;
          stroke: v.$color;
        }
      }
      a:hover {
        color: v.$tertiary;
        border-bottom: 2px solid v.$tertiary;
        margin-bottom: -2px;
        svg {
          stroke: v.$tertiary;
        }
      }
    }
  }
  .logo {
    display: inline-block;
    position: relative;
    .underlay {
      overflow: hidden;
      border-radius: 50%;
      height: 85%;
      width: 85%;
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 5px;
      background-color: v.$background;
      // background-image: linear-gradient(180deg, v.$primary, v.$secondary);
    }
    img {
      position: relative;
      z-index: 1;
    }
    .logo-border {
      position: absolute;
      bottom: 0;
      right: -4rem;
      left: -4rem;
      z-index: 1;
      border-bottom: 1px solid v.$color;
    }
  }
  h1, h2 {
    font-weight: bold;
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    padding: 12px;
    background-color: v.$secondary;
    border-radius: 5px;
  }
  .border {
    position: absolute;
    height: 1.8rem;
    bottom: 0;
    left: 0;
    right: 0;
    &::before {
      background-color: v.$background;
      z-index: 1;
      position: absolute;
      content: "";
      width: calc(100vw + 100rem);
      height: 7.2rem;
      top: 4px;
      left: -50rem;
      right: -50rem;
      border-top-left-radius: 100% 14.4rem;
      border-top-right-radius: 100% 14.4rem;
    }
  }
}
