@use 'variables' as v;

main {
  margin: 10px 0;
  .columns {
    box-shadow: 0 0 3px 1px v.$primary;
    margin: 0 auto;
    width: 300px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: v.$columns;
    h3 {
      margin-top: 20px;
    }
    h3, h4, h5 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: normal;
      font-size: 1.2rem;
      text-align: center;
    }
    h4 {
      margin: 10px 0;
    }
    h5 {
      font-weight: lighter;
      font-size: 1rem;
      margin: 0 0 20px;
    }
    .overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.6);
      height: 0;
      font-size: 0; //Remove inline whitespace
      transition: all 0.5s ease;
      &.active {
        height: initial;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        transition: all 0.5s ease;
      }
      img {
        transition: all 0.5s ease;
      }
      img.active {
        transition: all 0.5s ease;
        width: 80%;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 3;
      }
    }
    .border {
      width: 100%;
      border-bottom: 1px solid v.$secundary;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 256px;
    padding: 12px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto 0 0;
      li {
        width: 50%;
        display: inline-block;
        text-align: center;
        padding: 0.5em 0;
        line-height: 18.4px;
        img {
          width: 100%;
        }
        span {
          font-weight: lighter;
          font-size: 0.9em;
        }
      }
    }
  }
  .cert {
    ul {
      display: block;
      li {
        display: flex;
        width: 100%;
        align-items: center;
        cursor: pointer;
        img {
          display: inline-block;
          margin-left: auto;
          height: 22px;
          width: 22px;
        }
      }
    }
  }
  .languages, .skills {
    ul li {
      height: calc(2.4rem + 48px); // 48px is the height of the image
    }
  }
  .about {
    color: white;
    background-color: v.$secundary;
    padding-top: 40px;
    margin-top: 12px;
    line-height: 18px;
    position: relative;
    top: -52px; //This -32 is the margin between columns and about me
    margin-bottom: -52px;
    z-index: -1;
    overflow: hidden;
    p:last-of-type {
      margin-bottom: 0; // Needed to remove extra pixel of whitespace
    }
    img {
      position: absolute;
      left: -90px;
      height: 425px;
      width: initial;
    }
    .container {
      position: relative;
      padding: 0 0 0 142px;
      min-width: 0;
      width: calc(100% - 152px);
    }
    .swoosh {
      vertical-align: top; //Needed to remove whitespace below
      position: relative; // To show the svg on top of the image
      width: 100%;
      margin-top: 20px;
      min-height: 42px;
      path {
        fill: v.$background;
      }
    }
  }
  .filler {
    height: 2px;
    display: block;
    background-color: v.$background;
    position: relative;
    top: -2px;
  }
  .work {
    padding: 0;
    text-align: center;
     .bar {
        display: block;
        position: relative;
        height: 24px;
        line-height: 24px;
        background-color: v.$secundary;
        width: 100%;
        color: white;
        z-index: 1;
        h4 {
          font-size: 10px;
          margin: 0;
          text-transform: uppercase;
        }
        i, i::after, i::before {
          height: 12px;
          width: 12px;
          display: inline-block;
          background-color: #ff5f57;
          border-radius: 50%;
          position: absolute;
          top: 6px;
          left: 10px;
        }
        i::before {
          content: " ";
          left: 16px;
          background-color: #ffbd2e;
          top: 0;
        }
        i::after {
          content: " ";
          left: 32px;
          background-color: #28ca41;
          top: 0;
        }
      }
    .flex_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: relative;
     }
    .item {
      position: relative;
      overflow: hidden;
      vertical-align: top; //Fix extra space caused by hidden overflow
      margin-top: 10px;
      box-shadow: 0 0 1px 1px v.$primary;
      a {
        display: inline-block;
        transition: all 0.5s ease;
        img {
          min-width: calc(100% * (16/9) - 100%);
          min-height: calc(100% * (9/16) - 100%);
          position: relative;
          z-index: 0;
        }
      }
      .image-cropper {
        border: 4px solid #0CCE6B;
        height: 35px;
        width: 35px;
        background-color: #E5F9EF;
        margin: 0 auto;
        position: absolute;
        bottom: -8px;
        right: -50px;
        span {
          color: #0CCE6B;
          margin: 0;
          font-size: 16px;
          position: relative;
          bottom: -8px;
          left: -1px;
        }
      }
      .hidden, .overlay {
        position: absolute;
        margin: 0;
      }
      .hidden {
        cursor: pointer;
        top: 0;
        bottom: 0;
        right: 100%;
        left: -100%;
        opacity: 1;
        color: v.$background;
        padding: 0 16px;
        ul {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          li {
            padding: 4px;
            margin-top: 4px;
            background-color: grey;
            border-radius: 4px;
          }
        }
        ul li, a, .image-cropper {
          display: inline-block;
        }
        a {
          transition: none;
          bottom: 12px;
          padding: 5px 0;
          position: absolute;
          width: 132px;
          left: 42%;
          transform: translateX(-50%);
          color: white;
          p {
            margin: 0;
          }
        }
        a:hover, a:focus-visible {
          transition: none;
          border-bottom: 2px dashed;
          bottom: 10px; //Two less than a bottom
        }
      }
      .overlay {
        top: -106%;
        right: 0;
        left: 0;
        bottom: 100%;
        opacity: 0.6;
        background-color: black;
        transition: all 0.5s ease;
      }
    }
    .item.hover .overlay, .item > a:focus-visible .overlay {
      top: 0;
      bottom: 0;
      transition: all 0.5s ease;
    }
    .item.hover .hidden, .item > a:focus-visible ~ .hidden {
      left: 0;
      right: 0;
      transition: all 1s ease;
      transition-delay: 0.5s;
    }
  }
  .testimony {
    text-align: center; 
    p {
      font-weight: lighter;
    }
    .title {
      height: 48px;
      .image-cropper, p {
        display: inline-block;
        margin: 0;
      }
      p {
        margin-left: 10px;
        line-height: 48px;
        vertical-align: bottom;
        font-weight: normal;
      }
    }
    .content {
      margin: 16px 5px;
      padding-left: 10px;
      border-left: 2px solid v.$primary;
    }
  }
}