@use 'variables' as v;

main {
  margin: 10px 0;
  .columns {
    position: relative;
    box-shadow: 0 0 3px 1px v.$primary;
    margin: 0 auto;
    width: 300px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: v.$columns;
    h3 {
      margin-top: 20px;
    }
    h3, h4, h5 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: normal;
      font-size: 1.2rem;
      text-align: center;
    }
    h4 {
      margin-bottom: 10px;
    }
    h5 {
      font-weight: lighter;
      font-size: 1rem;
      margin: 0 0 40px;
    }
    .border {
      width: 100%;
      border-bottom: 1px solid v.$secundary;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 256px;
    padding: 12px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto 0 20px;
      li {
        width: 50%;
        display: inline-block;
        text-align: center;
        margin: 0.5em 0;
        img {
          width: 100%;
        }
        span {
          font-weight: lighter;
          font-size: 0.9em;
        }
      }
    }
  }
  .cert {
    ul {
      display: block;
      li {
        display: flex;
        width: 100%;
        align-items: center;
        cursor: pointer;
        img {
          display: inline-block;
          margin-left: auto;
          height: 22px;
          width: 22px;
        }
      }
    }
  }
  .about {
    color: white;
    background-color: v.$secundary;
    padding-top: 40px;
    margin-top: 12px;
    position: relative;
    top: -52px; //This -32 is the margin between columns and about me
    margin-bottom: -52px;
    z-index: -1;
    overflow: hidden;
    img {
      position: absolute;
      left: -73px;
      height: 375px;
      width: initial;
    }
    p, h3 {
      padding-left: 124px;
    }
    .container {
      position: relative;
    }
    .swoosh {
      position: relative;
      bottom: -4px;
      width: 100%;
      path {
        fill: v.$background;
      }
    }
  }
  .work {
    padding: 0;
    text-align: center;
    .flex_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: relative;
     }
     .bar {
        display: block;
        position: relative;
        height: 24px;
        line-height: 24px;
        background-color: v.$secundary;
        width: 100%;
        color: white;
        h4 {
          font-size: 10px;
          margin: 0;
          text-transform: uppercase;
        }
        i, i::after, i::before {
          height: 12px;
          width: 12px;
          display: inline-block;
          background-color: #ff5f57;
          border-radius: 50%;
          position: absolute;
          top: 6px;
          left: 10px;
        }
        i::before {
          content: " ";
          left: 16px;
          background-color: #ffbd2e;
          top: 0;
        }
        i::after {
          content: " ";
          left: 32px;
          background-color: #28ca41;
          top: 0;
        }
      }
    .flex_wrapper > div {
      margin-top: 10px;
      a {
        display: inline-block;
        transition: all 0.5s ease;
        img {
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
          min-width: calc(100% * (16/9) - 100%);
          min-height: calc(100% * (9/16) - 100%);
          position: relative;
          z-index: 0;
        }
        // &:hover img, &:focus-visible img {
        //   color: white;
        //   position: relative;
        //   transition: all 0.5s ease;
        //   background-image: linear-gradient(black, black);
        //   opacity: 0.8;
        //   z-index: 1;
        // }
      }
    }
  }
  .testimony {
    text-align: center; 
    p {
      font-weight: lighter;
    }
    .title {
      height: 48px;
      .image-cropper, p {
        display: inline-block;
        margin: 0;
      }
      p {
        margin-left: 10px;
        line-height: 48px;
        vertical-align: bottom;
        font-weight: normal;
      }
    }
    .content {
      margin: 16px 5px;
      padding-left: 10px;
      border-left: 2px solid v.$primary;
    }
  }
}