@use 'variables' as v;


// ------------------------------------------------------------------------
// Media queries for about me image
// ------------------------------------------------------------------------
main .about img {
  @media (min-width: 400px){
    height: 330px;
    left: -42px;
  }
  @media (min-width: 540px){
    height: 300px;
    left: -28px;
  }
  @media (min-width: 2500px){
    height: 340px;
    left: -50px;
  }
}

// ------------------------------------------------------------------------
// Rules applying to screens from 640px forward
// ------------------------------------------------------------------------
@media (min-width: v.$small){
  .container {
    max-width: calc(#{v.$small} - 40px);
  }
  main {
    .columns {
      width: 600px;
      .border.one {
        width: 0;
        border-left: 1px solid v.$secundary;
      }
      .overlay img.active {
        width: 90%;
      }
    }
    .languages {
      order: 1;
    }
    .border.one {
      order: 2;
    }
    .skills {
      order: 3;
    }
    .border.two {
      order: 4;
    }
    .cert {
      width: 320px;
      order: 5;
    }
    .about .container {
      width: calc(#{v.$small} - 180px);
    }
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 940px forward
// ------------------------------------------------------------------------
@media (min-width: v.$medium){
  .container {
    max-width: calc(#{v.$medium} - 40px);
  }
  main {
    .columns {
      width: 900px;
      .border.two {
        width: 0;
        border-left: 1px solid v.$secundary;
      }
      .overlay img.active {
        width: 70%;
      }
    }
    .languages, .border.one, .skills, .border.two, .cert {
      order: initial;
      width: 256px;
    }
    .about .container {
      width: calc(#{v.$medium} - 180px);
    }
  }
}