@use 'variables' as v;

@media (min-width: v.$small){
  main {
    max-width: v.$small;
    .columns {
      width: 600px;
      .border.one {
        width: 0;
        border-left: 1px solid v.$secundary;
      }
    }
    .languages {
      order: 1;
    }
    .border.one {
      order: 2;
    }
    .skills {
      order: 3;
    }
    .border.two {
      order: 4;
    }
    .cert {
      width: 320px;
      order: 5;
    }
  }
}
@media (min-width: v.$medium){
  main {
    max-width: v.$medium;
    .columns {
      width: 900px;
      .border.two {
        width: 0;
        border-left: 1px solid v.$secundary;
      }
    }
    .languages, .border.one, .skills, .border.two, .cert {
      order: initial;
      width: 256px;
    }
  }
}