@use 'variables' as v;

// ------------------------------------------------------------------------
// Media queries for about me image
// ------------------------------------------------------------------------
main .about img {
  @media (min-width: 400px) {
    height: 330px;
    left: -42px;
  }
  @media (min-width: 540px) {
    height: 300px;
    left: -28px;
  }
  @media (min-width: 2500px) {
    height: 340px;
    left: -50px;
  }
}

// ------------------------------------------------------------------------
// Rules applying to screens from 640px forward
// ------------------------------------------------------------------------
@media (min-width: v.$small) {
  .container {
    max-width: calc(#{v.$small} - 40px);
  }
  .work.container {
    max-width: v.$small;
  }
  main {
    .columns {
      width: 600px;
      .border.one {
        width: 0;
        border-left: 1px solid v.$secundary;
      }
      .overlay .wrapper.active {
        width: 90vw;
        height: calc(90vw * 17 / 22);
      }
    }
    .languages {
      order: 1;
    }
    .border.one {
      order: 2;
    }
    .skills {
      order: 3;
    }
    .border.two {
      order: 4;
    }
    .cert {
      width: 320px;
      order: 5;
    }
    .about .container {
      width: calc(#{v.$small} - 180px);
    }
    .contact.container {
      max-width: v.$small;
    }
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 940px forward
// ------------------------------------------------------------------------
@media (min-width: v.$medium) {
  .container {
    max-width: calc(#{v.$medium} - 40px);
  }
  main {
    .columns {
      width: 900px;
      .border.two {
        width: 0;
        border-left: 1px solid v.$secundary;
      }
      .overlay {
        .wrapper.active {
          width: 70vw;
          height: calc(70vw * 17 / 22);
        }
        &.active button {
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .languages,
    .border.one,
    .skills,
    .border.two,
    .cert {
      order: initial;
      width: 256px;
    }
    .about .container {
      width: calc(#{v.$medium} - 180px);
    }
    .contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: -4rem;
      h3 {
        width: 120px;
      }
      &.container {
        max-width: v.$medium;
      }
    }
  }
}
// ------------------------------------------------------------------------
// Rules applying to screens from 1240px forward
// ------------------------------------------------------------------------
@media (min-width: v.$big) {
  main .columns {
    .overlay {
      .wrapper.active {
        width: 60vw;
        height: calc(60vw * 17 / 22);
      }
      &.active button {
        &.next {
          left: 85%;
          &.pressed {
            left: 87%;
          }
        }
        &.prev {
          left: 15%;
          &.pressed {
            left: 13%;
          }
        }
      }
    }
  }
}
// ---------------------------------------------------------------------------
// Between small and medium
// ---------------------------------------------------------------------------
@media (min-width: v.$small) and (max-width: v.$medium) {
  main .cert {
    &.column {
      width: 570px;
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        width: 50%;
        img {
          margin-right: 20px;
        }
      }
    }
  }
}
