// ----------------------------------
// Blue
// ----------------------------------
$dark-slate-grey: #28464b;
$ming: #326771;
$blue-munsell: #2c8c99;
$turquoise: #42d9c8;
// ----------------------------------

// ----------------------------------
// Dracula
// ----------------------------------
$dracula-background: #282a36;
$dracula-current-line: #44475a;
$dracula-foreground: #f8f8f2;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;
// ----------------------------------

// ----------------------------------
// Purple
// ----------------------------------
$dark-purple: #210b2c;
$eminence: #55286f;
$wisteria: #bc96e6;
$pink-lavender: #d8b4e2;
$pearly-purple: #ae759f;
// ----------------------------------

// ----------------------------------
// Green
// ----------------------------------
$dark-jungle-green: #1f2421;
$skobeloff: #216869;
$shiny-shamrock: #49a078;
$eton-blue: #9cc5a1;
$gainsboro: #dce1de;
// ----------------------------------

// ----------------------------------
// Lavender
// ----------------------------------
$english-lavender: #a6808c;
$independence: #565264;
$old-lavender: #706677;
$silver-pink: #ccb7ae;
$timberwolf: #d6cfcb;
$isabelline: #f6f0ed;
// ----------------------------------

$primary: $independence;
$secundary: $old-lavender;
$tertiary: $silver-pink;
$background: $timberwolf;
// ----------------------------------
$highlight: $english-lavender;
$columns: $gainsboro;
$color: $isabelline;

// $primary: $dark-purple;
// $secundary: $eminence;
// $tertiary: $wisteria;
// $background: lightgrey;
// $columns: #f0f0f0;
// $color: white;

$small: 640px;
$medium: 940px;
$big: 1240px;
$biggest: 2000px;
