$tyrian-purple: #6A0136;
$ruby-red: #931621;
$dark-slate-grey: #28464B;
$ming: #326771;
$blue-munsell: #2C8C99;
$turquoise: #42D9C8;

$primary: $ming;
$secundary: $blue-munsell;
$tertiary: $turquoise;