@import 'variables';
html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Open Sans', sans-serif;
}
.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
	min-width: 320px;
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
  background-color: $primary;
  background-image: linear-gradient(180deg, $dark-slate-grey, $primary);
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  nav {
    text-align: initial;
    ul li {
      display: inline-block;
    }
  }
  h2 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    padding: 12px;
    background-color: $secundary;
    border-radius: 5px;
  }
  .border {
    position: absolute;
    height: 1.8rem;
    bottom: 0;
    left: 0;
    right: 0;
    &::before {
      background-color: white;
      z-index: 1;
      position: absolute;
      content: '';
      width: calc(100vw + 72rem);
      height: 7.2rem;
      top: 0;
      left: -36rem;
      right: -36rem;
      border-top-left-radius: 100% 14.4rem;
      border-top-right-radius: 100% 14.4rem;
    }
  }
}
main {
  margin-top: 10px;
  .columns {
    position: relative;
    box-shadow: 0 0 0 1px $primary;
    margin: 0 20px;
    padding: 12px 0;
    border-radius: 12px;
    h3, h4, h5 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: normal;
      font-size: 1.2rem;
      text-align: center;
    }
    h4 {
      margin-bottom: 10px;
    }
    h5 {
      font-weight: lighter;
      font-size: 1rem;
      margin: 0 0 10px;
    }
  }
  .column {
    margin: 12px;
    .border {
      margin: 30px -12px;
      border-bottom: 1px solid $primary;
    }
  }
  .cert {
    ul { 
      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          display: inline-block;
          margin-left: auto;
          height: 22px;
          width: 22px;
        }
      }
    }
  }
  .me {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 50%;
        display: inline-block;
        text-align: center;
        margin: 0.5em 0;
        img {
          width: 100%;
        }
        span {
          font-weight: lighter;
          font-size: 0.9em;
        }
      }
    }
  }
}
footer {
	margin-top: auto;
}