@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;
@use "sass:map";

#certificates {
  a {
    display: inline-block;
  }
  section.certs {
    h1 {
      text-align: center;
    }
    img {
      width: clamp(260px, 100%, 940px);
      @include m.bigShadow;
    }
    p.verified {
      font-style: italic;
      margin-top: 1rem;
      margin-bottom: 1rem;
      svg {
        --svg-icon-size: 1.2em;
        width: var(--svg-icon-size);
        height: var(--svg-icon-size);
        fill: #2554e3;
        vertical-align: -17%;
        margin-right: 0.5ch;
      }
    }
  }
  section.courses {
    ul {
      display: flex;
      flex-wrap: wrap;
      @include m.bigShadow;
      li {
        width: 50%;
      }
      img {
        width: 100%;
      }
    }
  }
}
