@use "../1-utilities/variables" as v;
@use '../1-utilities/mixins' as m;
@use "sass:map";
$inline-color: map.get(v.$lotion-palette, text);
$label: map.get(v.$lotion-palette, text);
$border: 2px solid map.get(v.$lotion-palette, action);
$line-height: 2rem;
main.contact {
  form {
    max-width: clamp(270px, 80%, 600px);
    h1 {
      text-align: center;
      font-size: 2rem;
      margin: 0 0 1em;
      color: map.get(v.$lotion-palette, text);
      span {
        padding-bottom: 0.1em;
        border-bottom: 3px solid;
      }
    }
    label {
      opacity: 0;
      display: block;
      margin-bottom: 12px;
      color: $label; 
      font-weight: bold;
    }
    .inline {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 49%;
      margin-bottom: 10px;
      cursor: pointer;
      &.two {
        margin-left: 2%;
      }
    }
    select {
      display: none;
    }
    button.select-button {
      font-size: 0.9em;
      line-height: $line-height;
      padding: 6px 8px;
      width: 100%;
      color: $inline-color;
      background: unset;
      border: $border;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1em;
        height: $line-height;
        display: inline-block;
      }
      svg {
        overflow: visible;
        path {
          transition: transform 250ms ease-in-out;
        }
      }
      &.select-arrow-active {
        path {
          transform: rotate(0deg);
          transition: transform 250ms ease-in-out;
        }
      }
    }
    ul.select-items {
      background-color: map.get(v.$lotion-palette, diminished);
      color: map.get(v.$lotion-palette, text);
      min-width: 8rem;
      width: 50%;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      //select-item
      li {
        padding: 8px;
        padding-right: 0;
        min-height: $line-height;
        line-height: $line-height;
        font-weight: bold;
        @include m.hover {
          color: map.get(v.$lotion-palette, highlight);
        }
      }
      @media (min-width: 410px) {
        min-width: 10rem;
        li {
          padding-left: 16px;
        }
      }
    }
    .medium-inline {
      @media (min-width: 540px) {
        display: inline-block;
        width: 49%;
        &.two {
          margin-left: 2%;
        }
      }
    }
    textarea, input {
      width: 100%;
      padding: 6px 8px;
      box-sizing: border-box;
      line-height: $line-height;
      background-color: unset;
      color: $inline-color;
      border: $border;
    }
    button[type="submit"] {
      background-color: map.get(v.$lotion-palette, action);
      color: map.get(v.$lotion-palette, background);
      font-weight: bold;
      margin: 5px auto;
      display: block;
      @keyframes wobble {
        0%,
        100% {
          transform: translateX(0%);
          transform-origin: 50% 50%;
        }
        15% {
          transform: translateY(-10%);
        }
        30% {
          transform: translateY(10%);
        }
        45% {
          transform: translateY(-5%);
        }
        60% {
          transform: translateY(5%);
        }
        75% {
          transform: translateY(-2.5%);
        }
      }
      @include m.hover {
        background-color: map.get(v.$lotion-palette, highlight);
        span {
          display: inline-block;
          animation: wobble 0.8s both;
        }
      }
    }
  }
  form.animation {
    label {
      animation: tracking-in-expand-fwd-top 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) both calc(var(--order) * 300ms);
    }
    @keyframes tracking-in-expand-fwd-top {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
      }
    }
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}
