@use '../1-utilities/variables' as v;
@use '../1-utilities/mixins' as m;
$inline-color: v.$dark-color;
$line-height: 1.375rem;

main.contact {
  form {
    max-width: clamp(270px, 80%, 600px);
    h1 {
      text-align: center;
      font-size: 2rem;
      margin: 0 0 1em;
      color: v.$dark-background;
      span {
        padding-bottom: 0.3em;
        border-bottom: 2px solid;
      }
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    .inline {
      position: relative;
      display: inline-block;
      width: 49%;
      margin-bottom: 10px;
      cursor: pointer;
      &.two {
        margin-left: 2%;
      }
    }
    select {
      display: none;
    }
    button.select-button {
      font-size: 0.9em;
      line-height: $line-height;
      padding: 2%;
      width: 100%;
      color: $inline-color;
      @include m.shadow;
      span {
        font-size: 1em;
        display: inline-block;
      }
    }
    ul.select-items {
      background-color: v.$dark-background-2;
      color: v.$dark-color-2;
      min-width: 8rem;
      width: 50%;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      //select-item
      li {
        padding: 8px;
        padding-right: 0;
        min-height: $line-height;
      }
      @media (min-width: 410px) {
        min-width: 10rem;
        li {
          padding-left: 16px;
        }
      }
    }
    .medium-inline {
      @media (min-width: 540px) {
        display: inline-block;
        width: 49%;
        &.two {
          margin-left: 2%;
        }
      }
    }
    input {
      width: 96%;
      padding: 2%;
      line-height: $line-height;
      background-color: v.$inputs;
      color: $inline-color;
      @include m.shadow;
    }
    textarea {
      width: 96%;
      padding: 2%;
      line-height: $line-height;
      background-color: v.$inputs;
      color: $inline-color;
      @include m.shadow;
    }
    button[type="submit"] {
      border: 2px solid v.$dark-outline;
      background-color: v.$white-background-2;
      color: v.$white-color-2;
      margin: 5px auto;
      display: block;
      @include m.shadow;
      @keyframes wobble {
        0%,
        100% {
          transform: translateX(0%);
          transform-origin: 50% 50%;
        }
        15% {
          transform: translateY(-10%);
        }
        30% {
          transform: translateY(10%);
        }
        45% {
          transform: translateY(-5%);
        }
        60% {
          transform: translateY(5%);
        }
        75% {
          transform: translateY(-2.5%);
        }
      }
      @include m.hover {
        // border: 2px solid v.$dark-outline-2;
        background-color: v.$white-background;
        color: v.$white-color-2;
        span {
          display: inline-block;
          animation: wobble 0.8s both;
        }
      }
    }
  }
  form.animation {
    label {
      animation: tracking-in-expand-fwd-top 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) both calc(var(--order) * 300ms);
    }
    @keyframes tracking-in-expand-fwd-top {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
      }
    }
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}
