@use '../1-utilities/variables' as v;
@use '../1-utilities/mixins' as m;

.columns {
  box-shadow: 0 0 3px 1px v.$primary;
  margin: 0 auto;
  width: 300px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: v.$columns;
  color: black;
  h3 {
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
    font-size: 1.7rem;
  }
  .border {
    width: 100%;
    border-bottom: 1px solid v.$secondary;
  }
}
.column {
  display: flex;
  flex-direction: column;
  width: 256px;
  padding: 12px;
  ul.animation {
    animation: bounce-in-top 1.5s both;
  }
  ul.loaded {
    animation: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0 0;
    li {
      width: 50%;
      display: inline-block;
      text-align: center;
      padding: 0.5em 0;
      line-height: 18.4px;
      img {
        width: 100%;
      }
      span {
        font-weight: lighter;
        font-size: 0.9em;
      }
    }
  }
  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
}
section.cert {
  width: 100%;
  ul {
    display: block;
    li {
      display: flex;
      width: 100%;
      align-items: center;
      cursor: pointer;
      img {
        display: inline-block;
        margin-left: auto;
        height: 22px;
        width: 22px;
      }
      span {
        font-weight: normal;
        font-size: 1em;
      }
      @include m.hover {
        span {
          border-bottom: 2px solid v.$highlight;
          margin-bottom: -2px;
        }
      }
    }
  }
}
section.languages,
section.skills {
  ul li {
    padding: 0.5em 0 0;
    height: calc(2.4rem + 48px); // 48px is the height of the image
  }
}
