@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;

#projects {
  section.work {
    color: v.$dark-background;
    background-color: initial;
    h1 {
      text-align: left;
    }
    .item {
      width: 100%;
      opacity: 1;
      @include m.bigShadow;
      .hidden {
        cursor: initial;
        ul {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          a {
            margin: 2px;
            padding: 1em;
            display: inline-block;
            border-radius: 7px;
            background-color: v.$white-background-2;
            color: v.$white-color-2;
            font-size: 1em;
            font-weight: bold;
            position: relative;
            svg {
              position: absolute;
              top: 11px;
              left: 15px;
            }
            span {
              padding-left: 1.8em;
            }
            @include m.hover {
              background-color: v.$dark-color;
              svg {
                fill: v.$progress-bar;
              }
              span {
                color: v.$progress-bar;
                border-bottom: 2px solid;
              }
            }
          }
        }
      }
      img {
        height: 100%;
        width: 100%;
      }
      div.progress {
        position: relative;
        background-color: v.$white-background-2;
        text-align: left;
        overflow: hidden;
        span {
          background-color: #4e8356;
          display: inline-block;
          text-align: center;
          font-size: 0.9em;
          line-height: 1.4em;
          font-weight: bold;
        }
      }
    }
    .flex_wrapper {
      justify-content: space-between;
    }
  }
}
