@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;
@use "sass:map";

#projects {
  $progress-bar: map.get(v.$lotion-palette, highlight);
  section.work {
    color: map.get(v.$navy-palette, background);
    background-color: initial;
    h1 {
      text-align: left;
    }
    .item {
      width: 100%;
      opacity: 1; 
      @include m.bigShadow;
      .hidden {
        padding: 0;
        cursor: initial;
        ul {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: auto;
          a {
            margin: 2px;
            padding: 1em;
            display: inline-block;
            border-radius: 7px;
            background-color: map.get(v.$lotion-palette, background);
            color: map.get(v.$lotion-palette, bold);
            font-size: 1em;
            position: relative;
            svg {
              position: absolute;
              top: 11px;
              left: 15px;
            }
            span {
              padding-left: 1.8em;
            }
            @include m.hover {
              background-color: map.get(v.$navy-palette, bold);
              svg {
                fill: $progress-bar;
              }
              span {
                color: $progress-bar;
                border-bottom: 2px solid;
              }
            }
          }
        }
      }
      img {
        height: 100%;
        width: 100%;
      }
      a:focus-visible:after {
        content: none;
      }
      div.progress {
        position: relative;
        background-color: map.get(v.$lotion-palette, diminished);
        text-align: left;
        overflow: hidden;
        span {
          background-color: map.get(v.$lotion-palette, action);
          color: map.get(v.$lotion-palette, background);
          display: inline-block;
          text-align: center;
          font-size: 0.9em;
          line-height: 1.4em;
        }
      }
    }
    .flex_wrapper {
      justify-content: space-between;
    }
  }
}
