@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;

#showcase {
  img {
    width: 100%;
  }
  figcaption {
    font-size: 0.9em;
    text-align: center;
  }
  p a {
    color: v.$white-outline;
    &:hover, &:focus-visible {
      text-decoration: underline 2px solid v.$white-outline;
    }
  }
  section.features {
    // Also applies to the progress bar in WIP projects
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
      width: 100%;
    }
    div.feature {
      display: inline-block;
      width: 100%;
      p {
        font-size: 0.9em;
      }
      div.progress {
        position: relative;
        background-color: v.$white-background-2;
        border-radius: 7px;
        text-align: left;
        overflow: hidden;
        span {
          background-color: #4e8356;
          display: inline-block;
          text-align: center;
          font-size: 0.9em;
          line-height: 1.4em;
          font-weight: bold;
        }
      }
    }
    h2 {
      margin: 0.5em 0;
    }
    p {
      margin: 5px 0px;
    }
  }
}