@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;
@use "sass:map";

#showcase {
  section.hero {
    a,
    img {
      width: 100%;
    }
    @include m.hover {
      figcaption span {
        color: map.get(v.$lotion-palette, highlight);
        border-bottom: 2px solid;
        margin-bottom: -2px;
      }
    }
    figcaption {
      font-size: 0.9em;
      text-align: center;
    }
  }
  p a {
    color: map.get(v.$lotion-palette, highlight);
    &:hover,
    &:focus-visible {
      text-decoration: underline 2px solid map.get(v.$lotion-palette, highlight);
    }
  }
  div.purpose {
    background-color: map.get(v.$lotion-palette, background);
    margin: 2em auto 0;
    padding: 12px 16px;
    border-radius: 7px;
    border: 2px solid map.get(v.$navy-palette, background);
  }
  .split {
    //whitespace
    --space: 250px;
    position: relative;
    // making the line match border of top and bottom sections
    padding: 1em 0 4em;
    &::before {
      // Border
      content: "";
      border-left: 2px solid map.get(v.$navy-palette, background);
      height: 100%;
      position: absolute;
      top: 50%;
      left: 7.8125rem;
      transform: translateY(-50%);
    }
    section.side h1 {
      // Lines after the h1 elements
      display: inline-block;
      position: relative;
      max-width: 4.9375rem;
      &::after {
        content: "";
        border-bottom: 2px solid map.get(v.$navy-palette, background);
        position: absolute;
        top: 50%;
        right: -2rem;
        width: 22px;
      }
    }
    section.side > *:not(:first-child) {
      // sizes and margins of all elements that are children of 'section' but not first children
      // aka everything that should be on the left
      max-width: 70%;
      margin: var(--space) 0 var(--space) 8.8rem;
      position: relative;
      opacity: 0;
      h2 {
        position: relative;
        &::before {
          content: "";
          border-bottom: 2px solid map.get(v.$navy-palette, background);
          position: absolute;
          top: 50%;
          left: -2rem;
          width: 22px;
        }
      }
      &.visible {
        animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms both;
        @keyframes slide-top {
          0% {
            opacity: 0;
            transform: translateY(0);
          }
          100% {
            opacity: 1;
            transform: translateY(-100px);
          }
        }
      }
    }
    section.testimonial {
      position: relative;
      z-index: 1;
      background-color: map.get(v.$lotion-palette, background);
      margin: var(--space) auto;
      padding: 12px 16px;
      border: 2px solid map.get(v.$navy-palette, background);
      border-radius: 7px;
      width: calc(100% - 68px); //This works as an outer padding of 16px
      min-width: initial;
      h1, p {
        display: inline-block;
      }
    }
  }
  section.progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
      width: 100%;
    }
    div.stage {
      width: 49%;
      p {
        margin: 5px 0px;
        font-size: 0.9em;
      }
      div.bar {
        position: relative;
        background-color: map.get(v.$lotion-palette, diminished);
        border-radius: 7px;
        text-align: left;
        overflow: hidden;
        span {
          background-color: map.get(v.$lotion-palette, action);
          display: inline-block;
          text-align: center;
          font-size: 0.9em;
          line-height: 1.4em;
          font-weight: bold;
        }
      }
    }
  }
  section.contact.border {
    margin-top: 0;
    border: 2px solid map.get(v.$navy-palette, background);
  }
}
