@use "../1-utilities/variables" as v;
@use "../1-utilities/mixins" as m;
@use "sass:map";
$fill: map.get(v.$lotion-palette, diminished);
$border: 3px solid map.get(v.$lotion-palette, action);
#showcase {
  // section.hero {
  //   padding-bottom: 2em;
  //   background-color: map.get(v.$lotion-palette, background);
  //   position: relative;
  //   z-index: 2;
  //   a,
  //   img {
  //     width: 100%;
  //   }
  //   @include m.hover {
  //     figcaption span {
  //       color: map.get(v.$lotion-palette, highlight);
  //       border-bottom: 2px solid;
  //       margin-bottom: -2px;
  //     }
  //   }
  //   figcaption {
  //     color: map.get(v.$lotion-palette, bold);
  //     font-size: 0.9em;
  //     text-align: center;
  //   }
  // }
  h1, h2, p {
    color: map.get(v.$lotion-palette, bold);
  }
  p {
    color: map.get(v.$lotion-palette, action);
  }
  p a {
    color: map.get(v.$lotion-palette, highlight);
    @include m.hover{
      border-bottom: 2px solid map.get(v.$lotion-palette, highlight);
      margin-bottom: -2px;
    }
  }
  div.purpose {
    background-color: $fill;
    margin: 0 auto;
    padding: 12px 16px;
    border-radius: 7px;
    border: $border;
    position: relative;
    z-index: 2;
  }
  .split {
    //whitespace
    --space: 250px;
    position: relative;
    // making the line match border of top and bottom sections
    padding: 1em 0 4em;
    &::before {
      // Border
      content: "";
      border-left: $border;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 7.8125rem;
      transform: translateY(-50%);
    }
    section.features {
      position: relative;
    }
    button.top {
      position: sticky;
      top: 50%;
      display: block;
      z-index: 1;
      background-color: map.get(v.$lotion-palette, action);
      color: map.get(v.$lotion-palette, background);
      transform: rotate(-90deg) translate(-150px, -38px);
      @include m.hover {
        background-color: map.get(v.$lotion-palette, highlight);
      }
    }
    section.side h1 {
      // Lines after the h1 elements
      display: inline-block;
      position: relative;
      max-width: 6.3rem;
      padding: 4px;
      border: $border;
      border-right: unset;
      &::before {
        content: "";
        background-color: map.get(v.$lotion-palette, background);
        position: absolute;
        right: -4px;
        left: 0;
        top: 0;
        bottom: 0;
      }
      span {
        position: relative;
        min-width: 10rem;
        display: inline-block;
        vertical-align: text-top;
      }
    }
    section.side > .right {
      // sizes and margins of all elements that are children of 'section' but not first children
      // aka everything that should be on the left
      max-width: 70%;
      margin: var(--space) 0 var(--space) 8.8rem;
      position: relative;
      opacity: 0;
      h2 {

        position: relative;
        &::before {
          content: "";
          border-bottom: $border;
          position: absolute;
          top: 50%;
          left: -1.9rem;
          width: 22px;
        }
      }
      &.visible {
        animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms both;
        @keyframes slide-top {
          0% {
            opacity: 0;
            transform: translateY(0);
          }
          100% {
            opacity: 1;
            transform: translateY(-100px);
          }
        }
      }
    }
    section.middle {
      position: relative;
      z-index: 1;
      background-color: $fill;
      margin: var(--space) auto;
      padding: 12px 16px;
      border: $border;
      border-radius: 7px;
      width: calc(100% - 68px); //This works as an outer padding of 16px
      min-width: initial;
      h1, p {
        display: inline-block;
      }
      & > a {
        margin-left: 1em;
      }
    }
  }
  section.progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
      width: 100%;
    }
    div.stage {
      width: 49%;
      p {
        margin: 5px 0px;
        font-size: 0.9em;
      }
      div.bar {
        position: relative;
        background-color: map.get(v.$lotion-palette, diminished);
        border-radius: 7px;
        text-align: left;
        overflow: hidden;
        span {
          background-color: map.get(v.$lotion-palette, action);
          display: inline-block;
          text-align: center;
          font-size: 0.9em;
          line-height: 1.4em;
        }
      }
    }
  }
  section.contact.border {
    margin-top: 0;
    border: $border;
    p {
      color: map.get(v.$lotion-palette, bold);
    }
  }
}
