@use "../1-utilities/variables" as v;

main.error .container {
  text-align: center;
  .message {
    margin: auto;
    max-width: calc(#{v.$small} / 2);
    display: flex;
    flex-wrap: wrap;
    
    h1 {
      width: 100%;
      font-size: 3rem;
    }
    p {
      display: inline-block;
      width: 50%;
    }
    img {
      width: 150px;
      float: right;
      position: relative;
      top: -100px;
    }
  }
  .navigation {
    display: inline-block;
  }
}