@use "../1-utilities/variables" as v;
@use "sass:map";

#error .container {
  text-align: center;
  .message {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    h1 {
      width: 100%;
      font-size: 3rem;
    }
    p, img {
      display: inline-block;
      width: 50%;
      max-width: 250px;
    }
    img {
      width: 150px;
      position: relative;
      top: -46px;
    }
  }
  .navigation {
    display: inline-block;
  }
}